@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: laca, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
  font-size: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.book:before {
  content: "";
  width: 30px;
  height: 100%;
  background: #0e0e0e;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-45deg) translate(-57px, -43px);
}

.book:after {
  content: "";
  width: 106%;
  height: 30px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: skewX(-45deg) translate(-11px, 30px);
}

.book {
  background: linear-gradient(#4886d9, #448ff2, #796ad9, #c955d9);
  margin: auto;
  border-radius: 5px;
  height: 600px;
  width: 400px;
  text-align: center;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
  border-left: 30px solid #131313;
  transform: rotate(-10deg) skewX(5deg) scale(0.8);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.box {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.book-title {
  font-weight: 600;
  font-size: 3em;

}

.description {
  font-weight: 100;
  font-size: 2em;

}

.copyright {
  font-size: 0.7em;
}
